<div class="jumbotron">
    <h3>
        <% if current_user %>
            Returning as: <%= current_user.email %>
            <%= link_to raw("<span class=\"glyphicon glyphicon-edit\"></span> New Post"), new_wiki_path, class: 'btn btn-success'%>
        <% else %>
        Stay tuned! so perhaps you should 
            <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link' %> or 
            <%= link_to "Sign In", new_user_session_path, class: 'navbar-link' %>
        <% end %>
    </h3>
</div>
<% if current_user %>
    <%= link_to "This is what you missed on last weeks episode...", wikis_path, class: 'btn home-pg-btn', title: "click-it or ticket!" %>
<% end %>