<h1>So what's on your grey matter?</h1>
<div class="media">
    <div class="media-body">
        <%= link_to "Get Wiki With-it", new_wiki_path, class: 'btn btn-success wiki-index-btn', title: "Create Wiki" %>
    </div>
</div>

<div class="col-md-12">
<h3>Hot off the press!</h3>
<div class="media-body">
    <% @wikis.each do |w| %>
        <% if policy(w).editable? %>
            <%= link_to wiki_path(w), action: 'go', class: 'media' do %>
                <div class="col-md-12 wiki-index-tile <%= 'wiki-tile-author' if policy(w).author? %>">
                    <h4>
                        <%= w.title %>
                    </h4>
                    <%= content_tag :p, texterize(markdown(w.body)), class: 'wiki-tile-body' %>
                    by: <%= w.user.email %><br/>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>
