<h1>So what's on your grey matter?</h1>
<div class="media">
    <div class="media-body">
        <%= link_to "Get Wiki With-it", new_wiki_path, class: 'btn btn-success wiki-index-btn', title: "Create Wiki" %>
    </div>
</div>

<div class="col-md-12">
<h3>Current Wiki's</h3>
<div class="media">
    <% @wikis.each   do |w| %>
        <div class="col-md-6 wiki-index-tile">
            <h4>
                <% if !w.private || policy(current_user).author?(w) %>
                    <%= link_to w.title, wiki_path(w) %>
                <% else %>
                    <%= content_tag :a, w.title %>
                <% end %>
            </h4>
            <%= content_tag :p, w.body, class: 'wiki-tile-body' %>
            
            <% if w.private %>
                <%= content_tag :span, "", class: 'glyphicon glyphicon-lock' %> private
            <% else %>
                <%= content_tag :span, "", class: 'glyphicon glyphicon-eye-open' %> public
            <% end %>
            <br/>
            by: <%= w.user.email %><br/>
        </div>
    <% end %>
</div>
</div>
