<h1>So what's on your grey matter?</h1>
<div class="media">
    <div class="media-body">
        <%= link_to "add new", new_wiki_path, class: 'btn btn-success wiki-index-btn', title: "Create Wiki" %>
    </div>
</div>

<div class="col-md-12">
<h3>
    <%= @wikis.count %> <%= 'idea'.pluralize(@wikis.count) %> or <%= 'conversation'.pluralize(@wikis.count) %> happening. right. now.
</h3>
<div class="media-body">
    <% @wikis.each do |wiki| %>
            <%= link_to wiki, action: 'go', class: 'media' do %>
                <div class="col-md-12 wiki-index-tile <%= 'wiki-tile-author' if policy(wiki).author? %>" >
                    <h4>
                        <%= wiki.title %>
                    </h4>
                    <%= content_tag :p, texterize(markdown(wiki.body)), class: 'wiki-tile-body' %>
                    by: <%= policy(wiki).author.email %>&nbsp;
                    <% if policy(wiki).is_collaborator? %>
                        <span class="glyphicon glyphicon-user" title="You are a collaborator"></span>
                    <% end %>
                    <% if wiki.private? %>
                        <span class="glyphicon glyphicon-lock" title="This wiki is private"></span>
                    <% end %>
                </div>
            <% end %>
    <% end %>
</div>
