<h1><%= @wiki.title %></h1>

<div class="media wiki-body col-md-6">
    <div class="wiki-header">
        Author: <%= @wiki.user.email %><br/>
        <% if @wiki.private? %>
            <small>
                <%= content_tag :span, nil, class: 'glyphicon glyphicon-lock', title: "private post" %> private
            </small>
        <% end %>
    </div>
    <div class="wiki-body-content media-body">
        <%= content_tag :p, @wiki.body, class: 'wiki-tile-body' %>
    </div>
</div>

<div class="col-md-12 process-links">
<% if policy(@wiki).edit? %>
    <%= link_to raw("<span class=\"glyphicon glyphicon-wrench\"></span> Edit Wiki"), edit_wiki_path(@wiki), class: 'btn btn-success' %>
    <% if policy(@wiki).destroy? %>
        <%= link_to raw("<span class=\"glyphicon glyphicon-trash\"></span> Delete Wiki"), @wiki, method: :delete, class: 'btn btn-warning', data: { confirm: "Are you sure you would like to delete this Wiki?" } %>
    <% end %>
<% end %>
</div>
