<h1><%= @wiki.title %></h1>
<% if @wiki.private? %>
<div class="col-xs-12">
    <small>
        <%= content_tag :span, nil, class: 'glyphicon glyphicon-lock', title: "private post" %> private convo
    </small>
</div>
<% end %>

<div class="media wiki-body col-md-10 col-xs-12">
    <div class="wiki-header">
        by <%= @wiki.user.email %><span class="pull-right">published <%= time_ago_in_words(@wiki.updated_at) %> ago</span>
    </div>
    <div class="wiki-body-content media-body">
        <%= content_tag :p, markdown(@wiki.body), class: 'wiki-tile-body' %>
    </div><br/>
    
    <% if @wiki.private? && @wiki.collaborations %>
        <div class="panel panel-default">
            <div class="panel-heading col-xs-12">
                <span>Current collaborators</span>
                <div class="add-collaboration pull-right">
                    <%= render partial: 'collaborations/form', locals: { wiki: @wiki } %>
                </div>
            </div>
            <div class="panel-body">
                <% @collaborations.each do |collab|  %>
                    <div class="panel-heading pull-left">
                        <% if policy(collab).destroy? %>
                            <%= link_to [@wiki,collab], class: 'btn btn-default', method: :delete, data: {confirm: "Are you sure you want to remove #{collab.user.email.upcase} as a collaborator?"} do %>
                                <%= collab.user.email %>&nbsp;
                                <span class="glyphicon glyphicon-remove"> </span>
                            <% end %>
                        <% else %>
                            <%= collab.user.email %>
                        <% end %>
                    </div>
                <% end %>
            </div>
            </div>
    <% end %>
</div>
<div class="col-md-2 col-xs-12 process-links">
<% if policy(@wiki).can_edit? %>
    <%= link_to raw("<span class=\"glyphicon glyphicon-wrench\"></span> Edit Wiki"), edit_wiki_path(@wiki), class: 'btn btn-success' %>
    <% if policy(@wiki).destroy? %>
        <%= link_to raw("<span class=\"glyphicon glyphicon-trash\"></span> Delete Wiki"), @wiki, method: :delete, class: 'btn btn-warning', data: { confirm: "Are you sure you would like to delete this Wiki?" } %>
    <% end %>
<% end %>
</div>
