<!DOCTYPE html>
<html>
<head>
  <title>Convo.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<div class="container">
    <!--NAVIGATION BAR-->
    <ul  class="nav nav-tabs">
      <li><%= link_to 'CONVO.IO', root_path, title: "convo.io" %></li>
      <% if user_signed_in? %>
      <li><%= link_to 'Topics', wikis_path, { title: "All the things..." } %></li>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'navbar-link' %>
        </li>
        <li>
          <% if current_user.admin? %>
            <%= link_to edit_user_registration_path, options = {title: 'You are the master of this domain'} do %>
              ADMIN <span class="glyphicon glyphicon-fire"></span>
            <% end %>
          <% elsif current_user.premium? %>
            <%= link_to edit_user_registration_path, options = {title: 'Membership Status'} do %>
              Premium <span class="glyphicon glyphicon-star"></span>
            <% end %>
          <% else %>
            <%= link_to new_charge_path do%>
              Upgrade <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          <% end %>
        </li>
        <li class="pull-right" title="Edit Profile">
          <%= link_to(edit_user_registration_path) do %>
            Signed in as: <strong><%= current_user.email %></strong>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link' %>
        </li>
        <li>
          <%= link_to "Sign In", new_user_session_path, class: 'navbar-link' %>
        </li>
      <% end %>
      
    </ul>
    <!--FLASH WARNINGS-->
    <% if flash[:notice] %>
      <div class="alert alert-success notice">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
  
  <%= yield %>
  
</div>
</body>
</html>
